---
import BaseLayout from '../layouts/base-layout.astro'
import Projects from '../components/projects.astro'
import Hero from '../components/hero.astro'
---
<BaseLayout>
  <div class="max-w-1152 px-16 sm:px-32 mx-auto">
    <Hero />
    <Projects />
  </div>
</BaseLayout>